.side-bar{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  width: 10vh;
  border-right: 0.1px solid #eef0f2;
}
.logo{
  margin: 2.5vh;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5vh;
}
.color-dots{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}
.dot{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}
@keyframes popUpWithFade {
  0%{
    opacity: 0;
    transform: translateY(15px) scale(0.7);
  }
  100%{
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
.action-menu > * {
  opacity: 0;
  animation: popUpWithFade 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
.action-menu > *:nth-child(2){
  animation-delay: 0.05s;
}
.action-menu > *:nth-child(1){
  animation-delay: 0.08s;
}