*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family: "Google Sans";
}
.app-container{
  display: flex;
  min-height: 100vh;
  flex-direction: row;
}

main{
  width: 100%;
}
.main-title{
  letter-spacing: 0.5px;
}
.main-title > h1{
  font-size: 40px;
  margin-left: 3.2vw;
}
.note-classification{
  margin-left: 3.2vw;
}
.notes-grid{
  margin-left: 3vw;
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 1.5vw;
  flex-wrap: wrap;
  margin-bottom: 6vh;
}